*.smk linguist-language=Python
Snakefile linguist-language=Python
.test/* linguist-vendored=false
.test/report.html linguist-generated=true
*.ipynb linguist-vendored

*.bed filter=lfs diff=lfs merge=lfs -text
