*
!config
!config/config.yaml
!config/samples.tsv
!config/units.tsv
!config/cluster.json
!reference
!reference/**
!LICENSE
!README.md
resources
resources/*
results
results/*
!workflow
!workflow/*
!workflow/**
workflow/scripts/.snakemake*
!.gitignore
!.editorconfig
!.gitattributes
!.gitmodules
!.test
!.test/data
!.test/config
!.test/config/config.yaml
!.test/config/samples.tsv
