*
!config
!config/config.yaml
!config/samples.tsv
!config/cluster.json
!data
!data/*
!data/**
!LICENSE
!README.md
resources
resources/*
results
results/*
!workflow
!workflow/*
!workflow/**
workflow/scripts/.snakemake*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
