*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
!scripts/analysis
!scripts/analysis/*
!scripts/notebooks
!scripts/notebooks/*
!scripts/figures
!scripts/figures/*
scripts/.snakemake*
!Snakefile
!config.yaml
!cluster.json
!samples.tsv
!resources
!resources/*
!report
!report/*
!data
!data/*
!data/2019-10-01/*
!data/2019-01-25/*
!envs
!envs/*
!envs/docker/*
!environment.yml
!LICENSE
!README.md
!rules
!rules/*
!rules/GM18/*
!rules/GM19/*
!rules/IMR/*
!rules/figures/*
!wrappers
!wrappers/*
!wrappers/subread/*
!wrappers/subread/feature_counts/*
!schemas
!schemas/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
