config {

    testsDir "."
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    configFile "tests/nextflow.config"
    profile "test"
    plugins {
        load "nft-bam@0.5.0"
        load "nft-utils@0.0.3"
    }
    triggers "nextflow.config", "nf-test.config", "conf/modules.config", "conf/test.config", "tests/nextflow.config"

}
