/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: GFFREAD {
        ext.args = "--keep-exon-attrs -F -T"
    }

    withName: BWA_ALIGN {
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/log" },
                mode: 'copy',
                pattern: "out"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/log" },
                mode: 'copy',
                pattern: "tab"
            ]
        ]
    }

    withName: 'DRAGMAP_HASHTABLE' {
        ext.when         = { !params.dragmap && params.aligner == "dragmap" }
        publishDir = [
            enabled: params.save_reference,
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference" },
            pattern: "dragmap"
        ]
    }

    withName: ".*DRAGMAP_ALIGN" {
        ext.when         = { params.aligner == "dragmap" }
        ext.args         = { "--RGSM ${meta.read_group}" }
    }

    withName: PICARD_MERGESAMFILES {
        ext.args = "SORT_ORDER=coordinate VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
        ext.prefix = { "${meta.id}.mLb.sorted" }
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: PRESEQ_CCURVE {
        ext.args = "-B"
    }

    withName: PRESEQ_LCEXTRAP {
        ext.args = "-B"
    }

    withName: BEDTOOLS_GENOMECOV_PLUS {
        ext.args = "-bg -strand +"
        ext.prefix = { "${meta.id}.plus" }
    }

    withName: BEDTOOLS_GENOMECOV_MINUS {
        ext.args = "-bg -strand -"
        ext.prefix = { "${meta.id}.minus" }
    }

    withName: DEEPTOOLS_BAMCOVERAGE_PLUS {
        ext.args = "--filterRNAstrand forward"
        ext.prefix = { "${meta.id}.plus" }
    }

    withName: DEEPTOOLS_BAMCOVERAGE_MINUS {
        ext.args = "--filterRNAstrand reverse"
        ext.prefix = { "${meta.id}.minus" }
    }

    withName: SUBREAD_FEATURECOUNTS_GENE {
        ext.args = "-B -C"
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/featurecounts/gene" },
            mode: 'copy',
        ]
    }

    withName: SUBREAD_FEATURECOUNTS_PREDICTED {
        ext.prefix = { "${meta.id}-group_${annotation.baseName}-transcripts" }
        ext.args = "-F \"SAF\""
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/featurecounts/predicted" },
            mode: 'copy',
        ]
    }

    withName: GROHMM_PARAMETERTUNING {
        ext.when = { !params.skip_grohmm && !params.skip_tuning && params.assay_type == "GROseq" }
    }

    withName: GROHMM_TRANSCRIPTCALLING {
        ext.when = { !params.skip_grohmm && params.assay_type == "GROseq" }
    }

    withName: HOMER_FINDPEAKS {
        ext.when = { params.assay_type == "GROseq" }
        // FIXME Handle other assays
        ext.args = "-style groseq"
    }

    withName: HOMER_MAKETAGDIRECTORY {
        ext.when = { params.assay_type == "GROseq" }
        ext.args = "-checkGC"
    }

    withName: HOMER_MAKEUCSCFILE {
        ext.when = { params.assay_type == "GROseq" }
        ext.args = "-strand separate"
    }

    withName: PINTS_CALLER {
        ext.args = { "--exp-type $params.assay_type" }
        ext.singularity_pull_docker_container = true
    }

    withName: BEDTOOLS_MERGE {
        ext.args = "-header"
    }

    withName: BEDTOOLS_INTERSECT_FILTER {
        ext.when = { params.filter_bed }
        ext.prefix = { "${meta.id}_filtered" }
        ext.args = { no_overlap ? "-v": "" }
    }

}
