/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  // Genome Reference File Pathds
  genome = "COMPLETE_PATH_TO_DIRECTORY_CONTAINING_GENOME_FASTA"
  hisat2_indices = "COMPLETE_PATH_TO_DIRECTORY_CONTAINING_HISAT2_INDICES"
  genome_refseq = "COMPLETE_PATH_TO_REFSEQ_BEDFILE_FOR_THIS_REFERENCE_GENOME"
  chrom_sizes = "COMPLETE_PATH_TO_FILE_CONTAINING_CHROMOSOME_SIZES_FOR_THIS_REFERENCE_GENOME"

}
