/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/nascent -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = true
  sras = [
    ['Testdata', ['https://github.com/nf-core/test-datasets/blob/nascent/raw/nascent/sra/nascentsample.sra', 'https://github.com/nf-core/test-datasets/blob/nascent/raw/nascent/sra/nascentsample.sra']]
  ]
  //genome = 'GRCh38'
  fasta = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/"
}
