/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/nascent -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = true
  //sras = "https://raw.githubusercontent.com/ignaciot/test-datasets/nascent-dataset/testdata/SRR4012402.chr21.fastq"
  fastqs = "https://raw.githubusercontent.com/nf-core/test-datasets/nascent/testdata/SRR4012402.chr21.fastq"
  //fasta = "https://raw.githubusercontent.com/ignaciot/test-datasets/nascent-dataset/reference/chr21.fa"
  fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/nascent/reference/chr21.fa"
}
