/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/groseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = 'https://gist.github.com/Emiller88/6715826b8b35ea0407725d95f3f23c9e/raw/26035c5f04c45f79ef15aeefc6714577d6e2406c/test_samplesheet.csv'

    // Genome references
    fasta = 'https://git.sr.ht/~emiller/groseq-data/blob/master/chr21.fa'
    genome = 'hg19'
}
