/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests with TFSee analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a pipeline test with TFSee.

    Use as follows:
        nextflow run nf-core/nascent -profile test_tfsee,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Test profile with TFSee'
    config_profile_description = 'Minimal test dataset to check pipeline function with TFSee analysis'

    // Input data
    input                      = "${projectDir}/assets/samplesheet.csv"

    // Genome references
    fasta                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/nascent/reference/GRCh38_chr21.fa'
    gtf                        = 'https://raw.githubusercontent.com/nf-core/test-datasets/nascent/reference/genes_chr21.gtf'
    hisat2_index               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nascent/reference/GRCh38_chr21_hisat2.tar.gz'

    // Assay configuration
    assay_type                 = "GROseq"
    skip_grohmm                = true
    grohmm_min_uts             = 5
    grohmm_max_uts             = 10
    grohmm_min_ltprobb         = -100
    grohmm_max_ltprobb         = -150
    filter_bed                 = "${projectDir}/tests/config/unwanted_region.bed"
    intersect_bed              = "${projectDir}/tests/config/wanted_region.bed"

    // TFSee configuration
    skip_tfsee                 = false
    tfsee_window_size          = 1000        // Smaller window for test
    tfsee_min_peak_height      = 0.05        // Lower threshold for test
    tfsee_smoothing_sigma      = 1.5         // Lighter smoothing
    tfsee_n_clusters           = 5           // Fewer clusters for test
    tfsee_motif_threshold      = 0.6         // Lower motif threshold
    tfsee_distance_threshold   = 500000      // Shorter distance for test
    tfsee_enable_clustering    = true
    tfsee_calculate_statistics = true
    
    // Optional TFSee inputs (these would be real files in a full test)
    // tfsee_motif_database     = 'https://raw.githubusercontent.com/nf-core/test-datasets/nascent/tfsee/jaspar_core_vertebrates_subset.meme'
    // tfsee_tf_expression      = 'https://raw.githubusercontent.com/nf-core/test-datasets/nascent/tfsee/tf_expression_test.csv'
    // tfsee_tf_chip_peaks      = 'https://raw.githubusercontent.com/nf-core/test-datasets/nascent/tfsee/tf_chip_peaks_test.bed'
}

process {
    withName: STAR_GENOMEGENERATE {
        ext.args = '--genomeSAindexNbases 9'
    }

    withName: PINTS_CALLER {
        ext.args = { "--disable-small" }
    }

    withName: PINTS_VISUALIZER {
        errorStrategy = 'ignore'
    }

    withName: 'TFSEE_.*' {
        memory = '4.GB'
        cpus = 2
        time = '30.m'
    }
    
    withName: TFSEE_GROSEQ_FEATURES {
        ext.args = '--test-mode'
        ext.window_size = 1000
        ext.min_peak_height = 0.05
        ext.smoothing_sigma = 1.5
    }
    
    withName: TFSEE_MOTIF_ANALYSIS {
        ext.args = '--test-mode'
        ext.motif_threshold = 0.6
    }
    
    withName: TFSEE_TF_ENHANCER_SCORING {
        ext.args = '--test-mode'
        ext.distance_threshold = 500000
    }
    
    withName: TFSEE_MULTIVIEW_CLUSTERING {
        ext.args = '--test-mode'
        ext.n_clusters = 5
        ext.enable_clustering = true
        memory = '6.GB'
    }
    
    withName: TFSEE_STATISTICS {
        ext.args = '--test-mode'
        ext.calculate_statistics = true
    }
    
    withName: TFSEE_COMBINE_RESULTS {
        ext.args = '--test-mode'
    }
}