// Skip things that are failing because we're aligned with a random gzipped reference
process {
    withName: DEEPTOOLS_BAMCOVERAGE_PLUS {
        ext.when = false
    }

    withName: DEEPTOOLS_BAMCOVERAGE_MINUS {
        ext.when = false
    }

    withName: PRESEQ_LCEXTRAP {
        ext.when = false
    }

    withName: PINTS_CALLER {
        ext.when = false
    }

    withName: HOMER_MAKETAGDIRECTORY {
        ext.when = false
    }
}
